@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300;400&family=Poppins:wght@300;400&display=swap");

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

/* --------VideoGameHome--------------- */
.home-header {
  display: flex;
  justify-content: center;
  padding: 2rem 4rem 0 4rem;
  gap: 1rem;
  background-color: #1f2128;
}
.searchBox {
  width: 350px;
  border-radius: 1rem;
}
.select-filter {
}
.card-container {
  background-color: #1f2128;
  overflow: hidden;
  padding: 2rem;
  padding-left: 5rem;
  width: 100%;
  color: white;
}

.ant-card {
  min-height: 15rem !important;
}
.ant-card-hoverable {
  border-color: transparent;
  color: white;
  border-radius: 1rem;
}
.ant-card-cover img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 1rem;
}
.game-tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  gap: 0.5rem;
  /* justify-content: center; */
}
.game-tag {
  background-color: skyblue;
  padding: 2px 6px;
  border-radius: 0.8rem;
  margin-top: 0.5rem;
}
.game-meta {
  margin-top: -1rem;
  text-align: center;
}
.game-card {
  background-color: #242731;
}
.ant-card-meta-title {
  font-size: 1.1rem;
  font-family: "Poppins";
  color: white;
  margin-bottom: 0.5rem;
}
.card-footer {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}
.card-footer > * {
  display: flex;
}
.star_icon,
.cal_icon {
  transform: scale(1.3);
  margin-right: 0.4rem;
}
.star_icon {
  color: yellow;
}
.cal_icon {
  color: #777;
}
.paginate {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin: auto;
}
.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #242731;
}
/* ----------------------Game Details ------------------- */
.details-container {
  height: 100vh;
  width: 100%;
  color: white;
  overflow: hidden;
}
.details-img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  border-radius: 0.7rem;
}
.details-info {
  color: white;
}
.details-card {
  display: flex;
  padding: 8rem 5rem;
  gap: 4rem;
  /* flex-wrap: wrap; */
}
.details-title {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Lato";
}
.details-desc {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-clamp: 6;
  -webkit-box-orient: vertical;
  font-family: "poppins";
}
.details-recommendations {
  display: flex;
  margin-top: 1rem;
}
.details-recommendations > * {
  margin-right: 1rem;
  font-size: 1.1rem;
  font-family: "Poppins";
  border: 1px solid white;
  border-radius: 1.2rem;
  padding: 4px 8px;
}
.details-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.details-stats h2 {
  color: inherit;
  font-weight: bold;
}
.details-platform {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
}
.details-platform > *:not(:last-child)::after {
  content: ",";
  margin-right: 4px;
}

/* Tag Colors */
.Action,
.Arcade {
  background-color: #b5bad1;
}
.Adventure,
.Indie {
  background-color: #b6e16c;
}
.Shooter,
.Puzzle {
  background-color: #f1d358;
}
.Sports,
.RPG {
  background-color: #eeaa66;
}
.Simulation,
.Platformer {
  background-color: #b5bad1;
}
.Fighting {
  background-color: #fad1e6;
}

/* Recommendation Colors */
.recommended {
  background-color: #7dc13a;
}
.exceptional {
  background-color: #5982e7;
}
.meh {
  background-color: #f8a540;
}
.skip {
  background-color: #f83a48;
}
